


#contact{
    width: 100vw;
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contact-heading{
    height: 30%;
    width: 100%;
}

#contact-heading h2{
    font-family: 'STIX Two Text', serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 2vh;
}

#contact-content{
    font-size: 1.3rem;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

#contact-links a{
    text-decoration: none;
    color: black;
}

#contact-links a:hover{
    color: grey;
}

#contact-links{
    margin-top: 2vh;
}
#copyright{
    font-size: 1rem;
    margin-top: 4vh;
}

@media screen and (max-width:1025px){
    #contact{
        height: 22vh;
    }
}
@media screen and (max-width:830px){
    #contact{
        height: 25vh;
    }
}
@media screen and (max-width:610px){
    #contact-content{
        font-size: 1rem;
    }
}
@media screen and (max-width:430px){
    #contact-heading h2{
        font-size: 2.5rem;
    }
    #contact-content{
        text-align: justify;
        font-size: 0.8rem;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}
@media screen and (max-width:375px){
    #contact{
        height: 30vh;
    }
}
@media screen and (max-width:330px){
    #contact{
        height: 35vh;
    }
}