@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.navbar{
    position: fixed;
    width: 100vw;
    height: 10vh;
    opacity: 0.7;
    z-index: 2;
}
.navbar-nav{
    width: 30vw !important;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-nav li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: black;
}

.navbar-nav li a:hover {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

@media screen and (max-width:920px){
    .navbar-nav{
        width: 100vw !important;
    }
}