@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.navbar{
    position: fixed;
    width: 100vw;
    height: 10vh;
    opacity: 0.7;
    z-index: 2;
}
.navbar-nav{
    width: 30vw !important;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-nav li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: black;
}

.navbar-nav li a:hover {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

@media screen and (max-width:1025px){
    .navbar-nav{
        width: 100vw !important;
    }
}
@media screen and (max-width:430px){
    .navbar-collapse{
        margin-left: -3vw;
    }
    .navbar-nav li a {
        font-size: 1rem;
    }
}
@media screen and (max-width:375px){
    .navbar-toggler{
        height: 5vh;
        padding-top: 0;
    }
    .navbar-collapse{
        margin-top: -1vh;
    }
    
}
@media screen and (max-height:450px){
    .navbar{
        height: 25vh;
    }
}
