@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap');


#projects{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#projects-heading{
    width: 100%;
    height: 15%;
}

#projects-heading h2{
    font-family: 'STIX Two Text', serif;
    margin-top: 5vh;
    text-align: center;
    font-size: 3rem;
}

#projects-content{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.projectex{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 80%;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}
.projectex-img img{
    margin-top: 4vh;
    height: 65%;
    width: 100%;
}

.projectex-heading{
    height: 35%;
    margin-top: -5vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.projectex-heading h4{
    font-weight: bold;
}
.projectex-heading h4 a{
    color: black;
    text-decoration: none;
}
.projectex-heading h4 a:hover{
    border-bottom: 2px solid black;
    /* text-decoration: underline; */
}

.large-img{
    height: 65%;
    width: 40%;
    
}
@media screen and (max-width:1120px){
    .projectex{
        height: 90%;
    }
}

@media screen and (max-width:1025px){
    #projects{
        height: 60vh;
    }
    #projects-content{
        margin-top: -2vh;
    }
    .projectex{
        height: 75%;
    }
    .projectex-img img{
        margin-top: 3vh;
    }
    .projectex-heading{
        margin-top: 0;
        font-size: 1rem;
    }
    .large-img{
        height: 51%;
        width: 40%;
    }
    .large-img img{
        height: 71%;

    }

}

@media screen and (max-width:920px){
    .projectex{
        height: 66%;
    }
    .projectex-heading{
        font-size: 0.9rem;
    }
    .large-img{
        height: 51%;
        width: 40%;
    }
}
@media screen and (max-width:890px){
    .projectex{
        margin-top: 2.5vh;
        height: 90%;
    }
}
@media screen and (max-width:835px){
    .projectex{
        margin-top: 0vh;
        height: 82%;
    }
}
@media screen and (max-width:830px){
    #projects{
        height: 70vh;
    }
    .projectex{
        height: 74%;
    }
    .large-img{
        height: 41%;
    }
}
@media screen and (max-width:768px){
    .projectex{
        height: 78%;
    }
}
@media screen and (max-width:610px){
    #projects{
        height: 75vh;
    }
    .projectex{
        height: 77%;
    }
    .large-img {
        height: 34%;
        width: 40%;
    }
    .large-img img {
        height: 74%;
    }

}
@media screen and (max-width:430px){
    #projects{
        height: 100vh;
    }
    #projects-heading h2{
        font-size: 2.5rem;
    }
    #projects-content{
        flex-wrap: wrap;
    }
    .projectex{
        width: 80%;
        height: 48%;
    }
    .projectex-img img{
        height: 58%;
    }
    .projectex-heading{
        font-size: 0.75rem;
        margin-top: -4vh;
    }
    .large-img {
        height: 54%;
    }

}
@media screen and (max-width:395px){
    #projects{
        height: 107vh;
    }
}
@media screen and (max-width:390px){
    #projects{
        height: 110vh;
    }
}
@media screen and (max-width:375px){
    #projects{
        height: 112vh;
    }
    .projectex-heading{
        font-size: 0.6rem;
        margin-top: -6vh;
    }
    .large-img{
        height: 60%;
    }
    
}
@media screen and (max-width:330px){
    #projects{
        height: 140vh;
    }
}
@media screen and (max-height:600px){
    #projects{
        height: 135vh;
    }
}
@media screen and (max-height:450px){
    #projects{
        height:185vh;
    }
}
@media screen and (max-height:360px){
    #projects{
        height: 198vh;
    }
}
@media screen and (max-height:320px){
    #projects{
        height: 255vh;
    }
}

